# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/FehuGame/v14/.suo
FehuGame.VC.db

Debug
FehuGame/Debug
FehuGame/Engine
FehuGame/Exanple
FehuGame/FehuGame.vcxproj
FehuGame/FehuGame.vcxproj.filters
